@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

#canvas {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
	background: #6C0802;
}

header, footer {
	padding: 1em;
	color: white;
	background-color: black;
	clear: left;
	width: 100%;
	left: 0;
	position: fixed;
}

header {
	margin-top: 0px;   
	top: 0;
}

footer {
	text-align: center; 
	margin-bottom: 0px; 	 
	bottom: 0;
}

#home, #game {
	text-align: right; 
	color: white; 
	float: right;  
	text-decoration: none;
}

#home {
	margin: 30px 0px 0px 30px;
	
}

#game {
	margin: 30px 30px 0px 30px;
}

#center
{
	position: absolute;
	width: 700px;
	height: 280px;
	z-index: 15;
	top: 100%;
	left: 35%;
	margin: 145px 0 0 -150px;
}

body{
  min-height: 100%;
  background: #970D05;
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  color: white;
  font-size: 80%;
  
}

.btn {
  border-radius: 15px;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  font-size: 10px;
  background: #111;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  
}

.btn:hover {
  background: #ffffff;
  text-decoration: none;
  color: #111;
}

.input {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  border-radius: 15px;
  padding: 3px 2px 2px 3px;
}

div.content {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20%;
}
            
.line-1{
	position: relative;
	top: 50%;  
	width: 24em;
	margin: 0 auto;
	border-right: 2px solid rgba(255,255,255,.75);
	font-size: 180%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
	animation: typewriter 3s steps(20) 1s 1 normal both,
				blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
	from{width: 0;}
	to{width: 14em;}
}
@keyframes blinkTextCursor{
	from{border-right-color: rgba(255,255,255,.75);}
	to{border-right-color: transparent;}
}